$sc-app-background-color: #ececec;
$sc-app-font-family: sans-serif;

$sc-primary-color: #078a82;
$sc-danger-color: #af4747;
$sc-accent-color: #ffb800;

$sc-button-hover-background-color: rgb(0 0 0 / 15%);

$sc-is-mobile: 600px;